header {
    background-color: #5386E4;
    color: white;
    padding: 1em;
    text-align: center;
}

h2 {
    color: #4C4B63;
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.current-temp {
    color: #4C4B63;
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.card {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0rem 1rem 1rem 1rem;
    text-align: center;
  }